<footer class="footer bg-light text-dark mt-auto py-3 text-center">
  <span class="text-muted">Developed as an educational project by Md Arsalan Siddiqui <a href="https://www.linkedin.com/in/md-arsalan-siddiqui/" target="_blank" class="text-decoration-none ms-2"><i class="fab fa-linkedin fa-lg"></i>Connect with him on LinkedIn</a></span>
</footer>